<!DOCTYPE html>
　　<html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　　　<title>{{ page.title }}</title>
　　</head>
　　<body>

　　　　{{ content }}
      <div class="footer">
        <div class="contact">
          <p>
            {{ site.author }}<br />
            Ye Yin
          </p>
        </div>
        <div class="contact">
          <p>
            <a href="https://github.com/hustcat">github.com/hustcat</a><br />
            <a href="http://hustcat.cnblogs.com">hustcat.cnblogs.com</a><br />
          </p>
        </div>
      </div>
    </div>
　　</body>
　　</html>
